@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&family=Roboto:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap');


@font-face {
    font-family: 'MotterCorpusStdRegular';
    src: url('../fonts/MotterCorpusStdRegular.eot');
    src: url('../fonts/MotterCorpusStdRegular.eot') format('embedded-opentype'),
         url('../fonts/MotterCorpusStdRegular.woff2') format('woff2'),
         url('../fonts/MotterCorpusStdRegular.woff') format('woff'),
         url('../fonts/MotterCorpusStdRegular.ttf') format('truetype'),
         url('../fonts/MotterCorpusStdRegular.svg#MotterCorpusStdRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}