%prop-burger {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  background-color: $dark-green;
  transition: all 0.3s ease;
}


%nunito400 {
  font-family: Nunito Sans;
  font-weight: 400;
}


%nunito600 {
  font-family: Nunito Sans;
  font-weight: 600;
}


%nunito700 {
  font-family: Nunito Sans;
  font-weight: 700;
}


%nunito800 {
  font-family: Nunito Sans;
  font-weight: 800;
}


%nunito900 {
  font-family: Nunito Sans;
  font-weight: 900;
}


%motter {
  font-family: MotterCorpusStdRegular, Arial, sans-serif;
}


%roboto400 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}


%roboto700 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
}


%anim {
  transition: all 0.3s ease-in-out; 
}