$black: #000;
$white: #fff;
$dark-green: #0B4141;
$light-orange: #FFCCBC;
$black-text: linear-gradient(180deg, #0B4141 52.83%, #0B1F1F 45.84%);
$white-gradient: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
$bg1: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
$bg2: #F9F9F9;
$bg3: linear-gradient(180deg, rgba(255, 204, 188, 0.8) 0%, rgba(255, 204, 188, 0) 100%);
$bg4: linear-gradient(180deg, #FFCCBC 0%, rgba(255, 204, 188, 0) 100%);
$bg5: #FFF9F7;
$bg6: linear-gradient(51.34deg, #FFCCBC 10.28%, #FFFFFF 64.41%);
$bg7: #F2F2F2;